name: Capital Package CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: checkout repository
        uses: actions/checkout@v3

      - name: Setup ROS 2 Humble
        uses: ros-tooling/setup-ros@v0.7
        with:
          required-ros-distributions: humble
          use-ros-testing-repos: true

      - name: build workspace
        run: |
          source /optros/humble/setup.bash
          colcon build --packages-select capital_pkg
          

      - name: run test.bash
        run: |
          source /opt/ros/humble/setup.bash
          source install/setup.bash
          bash src/capital_pkg/test.bash
