name: Capital Package CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3

      - name: Setup ROS 2
        uses: ros-tooling/setup-ros@v0.7
        with:
          required-ros-distributions: humble
          use-ros-testing-repos: true

      - name: build and test
        uses: ros-tooling/action-ros-ci@v0.3
        with:
          package-name: capital_pkg
          target-ros2-distro: humble
